
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Keyboard Response</title>
		<link rel="stylesheet" type="text/css" href="../style.css">
	</head>
	<body align = "center">
		<h2>Study title</h2>
		<!-- This section is where all the stimuli will be presented during the experiment.
			In other words, this is where the action happens. -->
		<div id='experiment' align = "center" ;
		style="display: None; margin-right:100px; margin-left:100px; margin-top:100px;">
			<p id = 'textAboveProbe'>Is this a word?</p>
			<div id = 'probeHolder' style="width:60%;  min-height:100px; padding-top:100px; padding-bottom:100px; border: 2px solid">
				<p id = 'probeText' style="font-size:30px; font-weight:bold;">
					<!-- Arguments passed to `show_text()` will show up here,
						or wherever the id "probeText" is used.-->
				</p>
			</div>
			<p id = 'textBelowProbe'>
				Buttons:<br>
				Y : Is a word<br>
				N : Not a word.
			</p>
		</div>
		
		<!-- Instructions here are shown prior to begining the experiment. -->
		<div id="instructions" align = "center" ;
		style="display:Inline; margin-right:100px; margin-left:100px; margin-top:100px;">
			<p>
				Use this space to write instructions.<br>
				You can use any HTML formatting you like in here.<br>
				This section will be hidden when the participant clicks 'Begin'.
			</p>
			<p>
				<button onclick="begin_experiment();">Begin</button>
				<!--Clicking the button executes `begin_experiment()`, which:
					- Hides the "instructions" <div>
					- Shows the "experiment" <div>
					- Calls `trial_stage0()` for the first time.
					-->
			</p>		
		</div>
		
		<!-- This section appears after the last trial. -->
		<div id="debrief" align = "center" ;
		style="display:None; margin-right:100px; margin-left:100px; margin-top:100px;">
			<p>
				This section will appear once the experiment is finished.<br>
				Use it to explain what your study was about, or post a link
				 to a page where they can find more information.
			</p>	
		</div>
		
		<div id="hidden_div" style = "Display: Inline;">
		<!-- 
		Nothing within this section will be visable to participants.
		In your JavaScript file, you will need to include a  list of variables to
		log after each trial.
		The form below, which begins as empty, will be populated by
		one text box for each variable, and the value of each variable
		will be written to this box after each trial, and then submitted
		to the server to record.
		 -->
		 	<form id = "responseForm" style="display:inline;" name ="Output" method ="POST" action ="save_data.php">
				<!--This starts empty, but will be filled with (invisible) text boxes
					as soon as `begin_experiment()` is called.-->
			</form>
			<button onclick=" document.getElementById('hidden_div').style.display = 'None';">Hide</button>
		</div>
		<!-- Import JavaScript scripts. -->
		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<!-- The next scripts is stored in the root directory of your copy of PsychScript,
		rather than the one specific to this template, where the final two are,
		so that they can be shared among all template files.
		In your experiments, you'll probably want to include all the necessary
		files in the directory below the current one, and change the paths below
		from '../../' to 'js/' as appropriate.  -->
		<script src="../../psychscript.js"></script>
		<script src="js/stimuli.js"></script>
		<script src="js/lexical_decision_keyboard_response.js"></script>
	</body>

</html>

<!--
    This page is part of PsychScript
    Copyright (C) 2013 Eoin Travers etravers01@qub.ac.uk.

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->
