.outerContainer {
    display: block;
    width: 100px; /* width of parent */
    height: 100px; /* height of parent */
    overflow: hidden;
}
.outerContainer .innerContainer {
    display: block;
    vertical-align: middle;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
li {
    background: white;
    width: 100px;
    height: 100px;
}
.bigButton
{
    display: Inline;
    margin-left: 10px; 
    margin-right: 10px;
    width: 80px;
    height: 40px;
}
